---
import { type CollectionEntry, getCollection } from "astro:content";
import "../../styles/markdown.css";
import BlogLayout from "@/layouts/blogLayout.astro";
import Toc from "@/components/toc.astro";

export async function getStaticPaths() {
  const posts = await getCollection("lectures");
  const sortedPosts = posts.sort((a, b) => Number(a.slug) - Number(b.slug));
  return sortedPosts.map((post, index) => ({
    params: { slug: post.slug },
    props: {
      ...post,
      nextSlug:
        index < sortedPosts.length - 1 ? sortedPosts[index + 1].slug : null,
      nextPostTitle:
        index < sortedPosts.length - 1
          ? sortedPosts[index + 1].data.title
          : null,
      previousSlug: index > 0 ? sortedPosts[index - 1].slug : null,
      previousPostTitle: index > 0 ? sortedPosts[index - 1].data.title : null,
    },
  }));
}

type Props = CollectionEntry<"lectures"> & {
  nextSlug: string | null;
  nextPostTitle: string | null;
  previousSlug: string | null;
  previousPostTitle: string | null;
};
// export async function getStaticPaths() {
//   const posts = await getCollection("lectures");
//   return posts.map((post) => ({
//     params: { slug: post.slug },
//     props: post,
//   }));
// }
// type Props = CollectionEntry<"lectures">;

const post = Astro.props;
const { Content, headings } = await post.render();

console.log(headings);
---

<BlogLayout
  ><article class="w-full">
    <h1 class="text-[40px] font-semibold leading-[44px]">
      {post.data.title}
    </h1>

    <hr class="my-4 opacity-10" />

    <Toc headings={headings} />

    <div class="mt-10 prose prose-neutral prose-invert prose-img:rounded-lg">
      <Content />
    </div>

    <div class="mt-10 flex justify-between items-center space-x-4 w-full">
      {
        post.previousSlug && (
          <>
            <a
              href={`/lectures/${post.previousSlug}`}
              class="group text-gray-400 hover:text-neutral-100 transition ease-in-out duration-200 max-w-[50%] bg-neutral-800/50 px-4 py-4 rounded-md truncate flex justify-between w-full items-center"
            >
              <span
                aria-hidden="true"
                class="inline-block -translate-x-0 group-hover:-translate-x-1 transition-transform ease-in-out duration-200"
              >
                ←
              </span>
              <span class="flex flex-col items-end">
                <span class="font-semibold text-xs">Previous</span>
                <span class="truncate">{post.previousPostTitle}</span>
              </span>
            </a>
          </>
        )
      }
      {
        post.nextSlug && (
          <>
            <a
              href={`/lectures/${post.nextSlug}`}
              class="group text-gray-400 hover:text-neutral-100 transition ease-in-out duration-200 max-w-[50%] bg-neutral-800/50 px-4 py-4 rounded-md truncate flex justify-between w-full items-center"
            >
              <span class="flex flex-col">
                <span class="font-semibold text-xs">Next</span>
                <span class="truncate">{post.nextPostTitle}</span>
              </span>
              <span
                aria-hidden="true"
                class="inline-block translate-x-0 group-hover:translate-x-1 transition-transform ease-in-out duration-200"
              >
                →
              </span>
            </a>
          </>
        )
      }
    </div>
  </article>
</BlogLayout>
